@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header {
    @apply fixed bg-zinc-50 w-full h-16 z-30 shadow-custom shadow-zinc-400 dark:bg-dark-secondary-bg dark:shadow-none dark:text-zinc-200;
  }
  h1 {
    @apply text-3xl text-center tracking-wider sm:text-4xl md:text-5xl lg:text-left lg:text-7xl;
  }
  h2 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-5xl;
  }
  h3 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl;
  }
  h4 {
    @apply text-center text-sm lg:text-base;
  }
  main {
    @apply bg-zinc-50 text-zinc-900 dark:bg-dark-primary-bg dark:text-zinc-200;
  }
  p {
    @apply text-xs leading-relaxed sm:text-base min-[400px]:text-sm;
  }
  section {
    @apply w-full px-4 py-6 last:pb-16 lg:pt-20 lg:pb-4 lg:last:pb-4 lg:px-12;
  }
}

.switch input:checked ~ .sun-moon {
  left: calc(100% - 2rem);
  background: #f5ec59;
  border-color: #e7c65c;
  transform: rotate(-25deg);
}

.switch input:checked ~ .sun-moon .dots,
.switch input:checked ~ .sun-moon .dots:after,
.switch input:checked ~ .sun-moon .dots:before {
  background: #ffffff;
  border-color: #ffffff;
}

.switch input:checked ~ .sun-moon .dots {
  height: 0.75rem;
  width: 0.75rem;
  top: 0px;
  left: -10px;
  transform: rotate(25deg);
}

.switch input:checked ~ .sun-moon .dots:after {
  height: 0.325rem;
  width: 0.325rem;
  top: 1px;
  left: -6px;
}

.switch input:checked ~ .sun-moon .dots:before {
  height: 0.2rem;
  width: 0.2rem;
  top: 3px;
  left: 7px;
}

.switch input:checked ~ .background .stars1,
.switch input:checked ~ .background .stars2 {
  opacity: 0;
  transform: translateY(1rem);
}

.switch input:checked ~ .background {
  border: 0.125rem solid #78c1d5;
  background: linear-gradient(to right, #78c1d5 0%, #bbe7f5 100%);
}
